<div class="page-header">
  <h1>About</h1>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <button type="button" class="btn btn-success btn-sm" ng-click="routeChange('index')">Index</button>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success btn-sm" ng-click="routeToIndex()">Index Manually</button>
  </div>
</div>
